// 색상 변수
$primary-color: #C40E61;
$secondary-color: #2ecc71;
$background-color: #f4f4f4;
$primary-text-color: #111827;
$secondary-text-color: #9CA3AF;

// 폰트 변수
$primary-font: sans-serif;

// 크기 변수
$max-width: 1200px;
$header-height: 100px;
$footer-height: 40px;

// 브레이크포인트 변수
$tablet: 768px;
$desktop: 1024px;