@charset "UTF-8";
:root {
  --primary-color: light-dark(#5254fd, #5254fd);
  --primary-hover-color: light-dark(#767af7, #767af7);
  --primary-bg-color: light-dark(#fff, #232429);
  --primary-text-color: light-dark(#333, #fbffff);
  --primary-border-color: light-dark(#dfdfdf, #3f424b);
  --secondary-text-color: light-dark(#70737a, #9fa1a6);
  --warning-text-color: light-dark(#ff5e5e, #ff5e5e);
  --form-bg-color: light-dark(#fefefe, #333742);
  --form-placeholder-color: light-dark(#a1a5b0, #a1a5b0);
  --form-border-color: light-dark(#dfdfdf, #3f424b);
  --form-main-bg-color: light-dark(
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  --scroll-bar-color: light-dark(#e8e8e8, #1c1d22);
  --header-icon-color: light-dark(#fbffff, #fbffff);
  --header-bg-color: light-dark(#fff, #232429);
  --footer-bg-color: light-dark(#f8f8f8, #1c1d22);
  --favorite-icon-color: light-dark(#ff4a29, #ff4a29);
  --favorite-bg-color: light-dark(#fff, #fff);
  --favorite-darken-bg-color: light-dark(#e8e8e8, #333742);
  --thumbnail-default-color: light-dark(#fcfcfc, #343843);
  --thumbnail-icon-color: light-dark(#bcbcbc, #525867);
  --gradation-left-color: light-dark(#ff004d, #ff004d);
  --gradation-right-color: light-dark(#1f2f98, #1f2f98);
  --swiper-button-color: light-dark(#d9d9d9, #d9d9d9);
  --swiper-text-color: light-dark(#fbffff, #fbffff);
  --swiper-pagination-bottom: 28px;
}

/* 박스 모델을 전역적으로 border-box로 설정 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 글꼴 및 텍스트 스타일 초기화 */
body {
  font-family: "Pretendard", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML 요소의 기본 스타일 제거 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* form 요소 초기화 */
input,
button,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* 필드셋과 레전드 초기화 */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: none;
}

/* 테이블 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  padding: 0;
}

/* 목록과 리스트 항목 초기화 */
ul,
ol {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/* 기본 block-level 요소의 margin과 padding 초기화 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
form,
figure,
hr,
table,
th,
td {
  margin: 0;
  padding: 0;
}

/* 하이퍼링크 스타일 초기화 */
a:focus,
a:hover {
  text-decoration: none;
}

/* 폼 요소 스타일 초기화 */
button,
input,
select,
textarea {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* 영역의 기본 스타일을 초기화 */
details,
summary {
  display: block;
}

/* 시각적으로 숨기고 스크린 리더에서만 노출 */
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* 라디오 버튼을 클릭하면 테마 변경 */
:root:has(input[name=color-scheme][value=light]:checked) {
  color-scheme: light;
}
:root:has(input[name=color-scheme][value=light]:checked) label[for=light] {
  display: none;
}
:root:has(input[name=color-scheme][value=dark]:checked) {
  color-scheme: dark;
}
:root:has(input[name=color-scheme][value=dark]:checked) label[for=dark] {
  display: none;
}

/* 모달 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-content {
  background-color: var(--primary-bg-color);
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid var(--primary-border-color);
}
.modal-head .close-button {
  cursor: pointer;
}
.modal-head .close-button > i {
  font-size: 24px;
}
.modal-head__title {
  font-size: 18px;
  font-weight: bold;
}
.modal-body {
  padding: 40px 30px 50px;
}
.modal-container {
  margin: 0 auto;
}

/* 버튼 */
.btn-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 20px;
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: var(--primary-hover-color);
}

/* 셀렉트 박스 */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  cursor: pointer;
}

.select-container {
  position: relative;
  width: 100%;
}
.select-icon {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  font-size: 20px;
  pointer-events: none;
  color: var(--form-placeholder-color);
}

/* 한 줄 말줄임 */
.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 다중 줄 말줄임 */
.multi-ellipsis {
  display: block;
  display: -webkit-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-width: 100%;
  word-wrap: break-word;
  word-break: keep-all;
  text-overflow: ellipsis;
}

/* 세션 타이틀 */
.section-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  height: 150px;
  font-size: 32px;
  font-weight: bold;
}
.section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--gradation-left-color), var(--gradation-right-color));
  opacity: 0.13;
  border-radius: 20px;
  z-index: -1;
}

/* 버튼 */
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* 노데이터 */
.no-data {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 378px;
  border: 1px solid var(--primary-border-color);
  border-radius: 20px;
}
.no-data > i {
  font-size: 60px;
}
.no-data__title {
  font-size: 32px;
  font-weight: bold;
}
.no-data__description {
  font-size: 18px;
  color: var(--secondary-text-color);
}

/* 찜 버튼 */
@keyframes heart {
  0% {
    transform: scale(1.07);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
.btn-favorite {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  background-color: var(--favorite-bg-color);
  border: 1px solid var(--favorite-bg-color);
  cursor: pointer;
  z-index: 1;
  transition: border-color 0.6s ease, box-shadow 0.6s ease;
}
.btn-favorite:hover {
  border-color: var(--favorite-icon-color);
  box-shadow: 0 0 8px var(--favorite-icon-color);
}
.btn-favorite:hover > i {
  animation: heart 0.6s linear infinite;
}
.btn-favorite > i {
  color: var(--favorite-icon-color);
}

/* 스크롤 */
.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scroll::-webkit-scrollbar-track {
  background: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color);
  border-radius: 50px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-color);
}
.scroll::-webkit-scrollbar-button {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

main {
  flex: 1;
  margin: 0 auto;
  margin-top: 80px;
  padding: 40px 0;
  max-width: 1200px;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--header-bg-color);
  z-index: 1000;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

.logo {
  width: 137px;
  height: 26px;
  overflow: hidden;
}
.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gnb ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.utility {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}
.utility__button {
  width: 34px;
  height: 34px;
  border: 1px solid var(--primary-bg-color);
  border-radius: 8px;
  color: var(--primary-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.6s ease, box-shadow 0.6s ease;
}
.utility__button:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px var(--primary-color);
}
.utility__button > i {
  font-size: 20px;
}
.utility__button input[type=radio] {
  display: none;
}

.footer {
  height: 80px;
  background-color: var(--footer-bg-color);
  color: var(--primary-text-color);
}
.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 300px;
  background-color: var(--primary-bg-color);
}
.loading .dot {
  width: 1rem;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.loading .dot:nth-child(1) {
  animation: loadingBubble 3s -1s infinite;
}
.loading .dot:nth-child(2) {
  animation: loadingBubble 3s -0.5s infinite;
}
.loading .dot:nth-child(3) {
  animation: loadingBubble 3s 0s infinite;
}

@keyframes loadingDrop {
  0% {
    translate: 0 -100%;
    opacity: 0;
  }
  20% {
    translate: 0 50%;
    opacity: 1;
  }
  40% {
    translate: 0 -10%;
    opacity: 1;
    scale: 1;
  }
  50% {
    translate: 0 0;
    opacity: 1;
    scale: 1;
  }
  100% {
    scale: 1.5;
    opacity: 0;
  }
}
@keyframes loadingBubble {
  0% {
    opacity: 0;
    scale: 0;
  }
  35% {
    opacity: 1.1;
    scale: 1;
  }
  55% {
    opacity: 1.1;
    scale: 1;
  }
  90% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
#searchModal .modal-container {
  max-width: 500px;
}

/* 검색 영역 */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 30px;
  height: 50px;
  background-color: var(--form-bg-color);
  border-radius: 10px;
  border: 1px solid var(--primary-border-color);
}
.search-container .btn-del {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}
.search-container .btn-del > i {
  color: var(--form-placeholder-color);
}
.search-label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.search-input {
  width: 100%;
}
.search-input::placeholder {
  color: var(--form-placeholder-color);
}
.search-icon {
  color: var(--form-placeholder-color);
}

/* 영화 목록 */
.movie__list {
  display: flex;
  flex-direction: column;
  background-color: var(--form-bg-color);
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  height: 347.01px;
  border: 1px solid var(--primary-border-color);
}
.movie__item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  cursor: pointer;
}
.movie__item:not(:last-child) {
  border-bottom: 1px solid var(--primary-border-color);
}
.movie__poster {
  width: 50px;
  min-width: 50px;
  height: 75px;
  border-radius: 4px;
  overflow: hidden;
}
.movie__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie__info {
  flex: 1;
  overflow: hidden;
}
.movie__info-title {
  margin-bottom: 4px;
}
.movie__info-details {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text-color);
}
.movie__info-year {
  font-size: 14px;
}
.movie__info-runtime {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.card__item {
  position: relative;
  cursor: pointer;
}
.card__item:hover .card__poster::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.card__item:hover .card__poster--default > i {
  font-size: 70px;
}
.card__item:hover .card__item-title {
  text-decoration: underline;
}
.card__item:hover .btn-favorite {
  opacity: 1;
}
.card__item-title {
  margin-bottom: 10px;
  -webkit-text-decoration: underline transparent;
  text-decoration: underline transparent;
  text-overflow: ellipsis;
  text-underline-offset: 0.2rem;
  transition: text-decoration ease 0.3s;
}
.card__item-details {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--secondary-text-color);
}
.card__poster {
  position: relative;
  margin-bottom: 20px;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
}
.card__poster--default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--thumbnail-default-color);
}
.card__poster--default > i {
  color: var(--thumbnail-icon-color);
  font-size: 60px;
  transition: font-size 0.6s ease;
}
.card__poster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: background-color 0.6s ease;
}
.card__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.btn-favorite {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.filter-field {
  position: relative;
}
.filter-field.warning .filter-item {
  border-color: var(--warning-text-color);
}
.filter-field.warning .filter-info {
  color: var(--warning-text-color);
  font-size: 14px;
}
.filter-item {
  display: flex;
  align-items: center;
  height: 34px;
  color: var(--form-placeholder-color);
  background-color: var(--form-bg-color);
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
}
.filter-item input {
  flex: 1;
  padding: 0 20px;
  height: 50px;
}
.filter-item .btn-del {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.filter-item .btn-del > i {
  color: var(--form-placeholder-color);
}
.filter-info {
  position: absolute;
  display: none;
  align-items: center;
  gap: 4px;
  margin-top: 6px;
}
.filter-button {
  height: 34px;
}

.btn-more {
  width: 400px;
  height: 54px;
}

/*# sourceMappingURL=favorite.css.map */
