@charset "UTF-8";
:root {
  --primary-color: light-dark(#5254FD, #5254FD);
  --primary-hover-color: light-dark(#767AF7, #767AF7);
  --primary-bg-color: light-dark(#FFF, #232429);
  --primary-text-color: light-dark(#333, #FBFFFF);
  --primary-border-color: light-dark(#DFDFDF, #3F424B);
  --secondary-text-color: light-dark(#70737A, #9FA1A6);
  --warning-text-color: light-dark(#FF5E5E, #FF5E5E);
  --form-bg-color: light-dark(#FEFEFE, #333742);
  --form-placeholder-color: light-dark(#A1A5B0, #A1A5B0);
  --form-border-color: light-dark(#DFDFDF, #3F424B);
  --scroll-bar-color: light-dark(#E8E8E8, #1C1D22);
  --header-bg-color: light-dark(#FFF, #232429);
  --footer-bg-color: light-dark(#F8F8F8, #1C1D22);
  --favorite-icon-color: light-dark(#FF4A29, #FF4A29);
  --favorite-bg-color: light-dark(#FFF, #FFF);
  --favorite-darken-bg-color: light-dark(#E8E8E8, #333742);
  --thumbnail-default-color: light-dark(#FCFCFC, #343843);
  --thumbnail-icon-color: light-dark(#BCBCBC, #525867);
  --gradation-left-color: light-dark(#FF004D, #FF004D);
  --gradation-right-color: light-dark(#1F2F98, #1F2F98);
  --swiper-button-color: light-dark(#6E6E6E, #6E6E6E);
  --swiper-active-button-color: light-dark(#D9D9D9, #D9D9D9);
}

/* 박스 모델을 전역적으로 border-box로 설정 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 글꼴 및 텍스트 스타일 초기화 */
body {
  font-family: "Pretendard", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML 요소의 기본 스타일 제거 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* form 요소 초기화 */
input,
button,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* 필드셋과 레전드 초기화 */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: none;
}

/* 테이블 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  padding: 0;
}

/* 목록과 리스트 항목 초기화 */
ul,
ol {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/* 기본 block-level 요소의 margin과 padding 초기화 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
form,
figure,
hr,
table,
th,
td {
  margin: 0;
  padding: 0;
}

/* 하이퍼링크 스타일 초기화 */
a:focus,
a:hover {
  text-decoration: none;
}

/* 폼 요소 스타일 초기화 */
button,
input,
select,
textarea {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* 영역의 기본 스타일을 초기화 */
details,
summary {
  display: block;
}

/* 시각적으로 숨기고 스크린 리더에서만 노출 */
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* 라디오 버튼을 클릭하면 테마 변경 */
:root:has(input[name=color-scheme][value=light]:checked) {
  color-scheme: light;
}
:root:has(input[name=color-scheme][value=light]:checked) label[for=light] {
  display: none;
}
:root:has(input[name=color-scheme][value=dark]:checked) {
  color-scheme: dark;
}
:root:has(input[name=color-scheme][value=dark]:checked) label[for=dark] {
  display: none;
}

/* 모달 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-content {
  background-color: var(--primary-bg-color);
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid var(--primary-border-color);
}
.modal-head .close-button {
  cursor: pointer;
}
.modal-head .close-button > i {
  font-size: 24px;
}
.modal-head__title {
  font-size: 18px;
  font-weight: bold;
}
.modal-body {
  padding: 40px 30px 50px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

main {
  flex: 1;
  margin: 0 auto;
  padding: 40px 0;
  max-width: 1200px;
}

.header {
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

.logo {
  width: 137px;
  height: 26px;
  overflow: hidden;
}
.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gnb ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.utility {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
}
.utility_button {
  width: 24px;
  height: 24px;
  color: var(--primary-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.utility_button > i {
  font-size: 24px;
}
.utility_button input[type=radio] {
  display: none;
}

.footer {
  height: 120px;
  background-color: var(--footer-bg-color);
  color: var(--primary-text-color);
}
.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  height: 100%;
}

.loading {
  width: 300px;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.loading > div {
  width: 1rem;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.loading > div:nth-child(1) {
  animation: loadingBubble 3s -1s infinite;
}
.loading > div:nth-child(2) {
  animation: loadingBubble 3s -0.5s infinite;
}
.loading > div:nth-child(3) {
  animation: loadingBubble 3s 0s infinite;
}

@keyframes loadingDrop {
  0% {
    translate: 0 -100%;
    opacity: 0;
  }
  20% {
    translate: 0 50%;
    opacity: 1;
  }
  40% {
    translate: 0 -10%;
    opacity: 1;
    scale: 1;
  }
  50% {
    translate: 0 0;
    opacity: 1;
    scale: 1;
  }
  100% {
    scale: 1.5;
    opacity: 0;
  }
}
@keyframes loadingBubble {
  0% {
    opacity: 0;
    scale: 0;
  }
  35% {
    opacity: 1.1;
    scale: 1;
  }
  55% {
    opacity: 1.1;
    scale: 1;
  }
  90% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
#searchModal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 10rem;
  gap: 1.5rem;
}
#searchModal .modal-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem;
  gap: 1rem;
  background-color: var(--form-bg-color);
  border: 0.1rem solid var(--form-border-color);
  border-radius: 0.7rem;
  color: var(--form-placeholder-color);
}
#searchModal .modal-search:hover {
  cursor: text;
}
#searchModal .modal-search::placeholder {
  color: var(--form-placeholder-color);
}
#searchModal .modal-search__delete {
  cursor: pointer;
}
#searchModal .modal-search__list {
  background-color: var(--form-bg-color);
  width: 100%;
  border: 0.1rem solid var(--form-border-color);
  border-radius: 0.7rem;
  max-height: 21rem;
  overflow-y: scroll;
}
#searchModal .modal-search__alert {
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem;
  border: 0.1rem solid var(--form-border-color);
  background-color: var(--form-bg-color);
}
#searchModal .modal-search__ele {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border: 0.1rem solid var(--form-border-color);
  background-color: var(--form-bg-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
#searchModal .modal-search__ele__img {
  height: 6rem;
}
#searchModal .modal-search__ele__img > img {
  object-fit: fit;
  height: 100%;
}
#searchModal .modal-search__ele__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
#searchModal .modal-search__ele__title {
  font-size: 1.2rem;
  width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
#searchModal .modal-search__ele__desc {
  display: flex;
  justify-content: start;
  color: var(--form-placeholder-color);
  gap: 1rem;
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.card-poster {
  width: 100%;
  aspect-ratio: 1/1.2;
}
.card-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=index.css.map */
