@use "../abstract/mixin" as *;
@use "../abstract/var" as *;

.btn-primary-fill {
  @include button-base();
  @include button-size(50px);
}

.btn-primary-lg {
  @include button-base();
  @include button-size(50px, 400px);
}

.btn-primary {
  @include button-base();
}

.btn-warning {
  @include button-base($warning-text-color);
}

.btn-wrap {
  @include btn-wrap(50px);
}

.btn-more {
  @include button-base();
  @include button-size(50px, 400px);

  .page-info {
    font-size: 14px;
  }
}

.btn-top {
  position: fixed;
  right: 80px;
  bottom: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  box-shadow: 5px 0 12px #0000001f;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;

  @include respond-to(tablet) {
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  @include respond-to(mobile) {
    bottom: 25px;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

.favorite-button {
  @include favorite-button(sm, false); // 기본 모서리

  &-wrap {
    margin-top: 30px;
  }
}

.favorite-button--lg {
  @include favorite-button(lg, true);
}

@include respond-to(mobile) {
  .btn-primary-fill {
    @include button-size(40px);
  }

  .btn-primary-lg {
    @include button-size(40px);
  }

  .favorite-button {
    &-wrap {
      margin-top: 20px;
    }
  }

  .btn-wrap {
    @include btn-wrap(30px);
  }
}
