@use "../abstract/mixin" as *;
@use "../abstract/var" as *;

.loading-layer {
  @include loading-layer(100, rgba(0, 0, 0, 0.5));
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .dot {
    @include loading-dot(1rem, $primary-color);
  }
}

.loading__ele {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  margin: 3rem 0;

  .dot {
    @include loading-dot(1rem, $primary-color);
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary-bg-color;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .dot {
    @include loading-dot(1rem, $primary-color);
  }

  @include respond-to(mobile) {
    gap: 1.5rem;
  }
}
