<div class="header-inner">
  <h2 class="a11y-hidden">로고</h2>

  <h1 class="logo">
    <img class="logo-img" alt="movies" src="/assets/images/icon/logo.svg" />
  </h1>

  <h2 class="a11y-hidden">메뉴</h2>

  <nav class="gnb">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/explore.html">Explore</a></li>
      <li><a href="/genre.html">Genre</a></li>
      <li><a href="/news.html">News</a></li>
      <li><a href="/movie.html">Movies</a></li>
      <li><a href="/tvshow.html">TV Show</a></li>
    </ul>
  </nav>

  <h2 class="a11y-hidden">유틸리티</h2>

  <div class="utility">
    <button type="button">
      <i class='bx bx-moon'></i>
    </button>
  </div>
</div>