@charset "UTF-8";
@keyframes heart {
  0% {
    transform: scale(1.07);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes loadingBubble {
  0% {
    opacity: 0;
    scale: 0;
  }
  35% {
    opacity: 1.1;
    scale: 1;
  }
  55% {
    opacity: 1.1;
    scale: 1;
  }
  90% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
@keyframes loadingDrop {
  0% {
    translate: 0 -100%;
    opacity: 0;
  }
  20% {
    translate: 0 50%;
    opacity: 1;
  }
  40% {
    translate: 0 -10%;
    opacity: 1;
    scale: 1;
  }
  50% {
    translate: 0 0;
    opacity: 1;
    scale: 1;
  }
  100% {
    scale: 1.5;
    opacity: 0;
  }
}
@keyframes titleMove {
  0% {
    opacity: 0;
    transform: translate(20%);
  }
  60% {
    opacity: 0;
    transform: translate(12%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes subtitleMove {
  0% {
    opacity: 0;
    transform: translate(-10%);
  }
  60% {
    opacity: 0;
    transform: translate(-6%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: light-dark(#fff, #232429);
  color: light-dark(#333, #fbffff);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-family: "Pretendard", sans-serif;
}

main {
  flex: 1;
  margin: 0 auto;
  margin-top: 80px;
  padding: 40px 0;
  max-width: 1200px;
  width: 100%;
}

:root:has(input[name=color-scheme][value=light]:checked) {
  color-scheme: light;
}
:root:has(input[name=color-scheme][value=light]:checked) label[for=light] {
  display: none;
}
:root:has(input[name=color-scheme][value=dark]:checked) {
  color-scheme: dark;
}
:root:has(input[name=color-scheme][value=dark]:checked) label[for=dark] {
  display: none;
}

@media (max-width: 1024px) {
  main {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  main {
    margin-top: 50px;
    padding: 20px;
  }
}
/* 박스 모델을 전역적으로 border-box로 설정 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 글꼴 및 텍스트 스타일 초기화 */
body {
  font-size: 100%;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML 요소의 기본 스타일 제거 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* form 요소 초기화 */
input,
button,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* 버튼 */
button {
  cursor: pointer;
}

/* 필드셋과 레전드 초기화 */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: none;
}

/* 테이블 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  padding: 0;
}

/* 목록과 리스트 항목 초기화 */
ul,
ol {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/* 기본 block-level 요소의 margin과 padding 초기화 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
form,
figure,
hr,
table,
th,
td {
  margin: 0;
  padding: 0;
}

/* 하이퍼링크 스타일 초기화 */
a:focus,
a:hover {
  text-decoration: none;
}

/* 폼 요소 스타일 초기화 */
button,
input,
select,
textarea {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* 영역의 기본 스타일을 초기화 */
details,
summary {
  display: block;
}

.btn-primary-fill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: light-dark(#5254fd, #5254fd);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
  height: 50px;
  line-height: 48px;
  font-size: 1rem;
}
.btn-primary-fill:hover {
  background-color: light-dark(#767af7, #767af7);
}
.btn-primary-fill:disabled {
  background-color: #333;
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-primary-lg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: light-dark(#5254fd, #5254fd);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 400px;
  height: 50px;
  line-height: 48px;
  font-size: 1rem;
}
.btn-primary-lg:hover {
  background-color: light-dark(#767af7, #767af7);
}
.btn-primary-lg:disabled {
  background-color: #333;
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: light-dark(#5254fd, #5254fd);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.btn-primary:hover {
  background-color: light-dark(#767af7, #767af7);
}
.btn-primary:disabled {
  background-color: #333;
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-warning {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: light-dark(#ff5e5e, #ff5e5e);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.btn-warning:hover {
  background-color: light-dark(#767af7, #767af7);
}
.btn-warning:disabled {
  background-color: #333;
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.favorite-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.6s ease, box-shadow 0.6s ease;
  border-radius: 8px;
  background-color: light-dark(#fff, #fff);
  color: #333;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  aspect-ratio: 1/1;
  z-index: 1;
}
@media (max-width: 768px) {
  .favorite-button {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
  }
}
.favorite-button:hover {
  border-color: light-dark(#ff4a29, #ff4a29);
  box-shadow: 0 0 8px light-dark(#ff4a29, #ff4a29);
}
.favorite-button:hover > i {
  animation: heart 0.6s linear infinite;
}
.favorite-button > i {
  color: light-dark(#ff4a29, #ff4a29);
}
.favorite-button-wrap {
  margin-top: 30px;
}

.favorite-button--lg {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.6s ease, box-shadow 0.6s ease;
  border-radius: 30px;
  background-color: light-dark(#fff, #fff);
  color: #333;
  gap: 10px;
  width: 100%;
  height: 54px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: light-dark(#e8e8e8, #333742);
  color: light-dark(#333, #fbffff);
}
.favorite-button--lg.--active {
  background-color: light-dark(#fff, #fff);
  color: light-dark(#191919, #191919);
}
@media (max-width: 768px) {
  .favorite-button--lg {
    height: 40px;
  }
}
.favorite-button--lg:hover {
  border-color: light-dark(#ff4a29, #ff4a29);
  box-shadow: 0 0 8px light-dark(#ff4a29, #ff4a29);
}
.favorite-button--lg:hover > i {
  animation: heart 0.6s linear infinite;
}
.favorite-button--lg > i {
  color: light-dark(#ff4a29, #ff4a29);
}

@media (max-width: 768px) {
  .btn-primary-fill {
    width: 100%;
    height: 40px;
    line-height: 38px;
    font-size: 1rem;
  }
  .btn-primary-lg {
    width: 100%;
    height: 40px;
    line-height: 38px;
    font-size: 1rem;
  }
  .favorite-button-wrap {
    margin-top: 20px;
  }
  .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}
.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .card {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }
}
.card__item {
  position: relative;
  cursor: pointer;
}
.card__item:hover .card__poster--default > i {
  font-size: 70px;
}
.card__item:hover .card__item-title {
  text-decoration: underline;
}
.card__item-title {
  margin-bottom: 10px;
  -webkit-text-decoration: underline transparent;
  text-decoration: underline transparent;
  text-overflow: ellipsis;
  text-underline-offset: 0.2rem;
  transition: text-decoration ease 0.3s;
}
.card__item-details {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: light-dark(#70737a, #9fa1a6);
}
.card__poster {
  position: relative;
  margin-bottom: 20px;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
}
.card__poster--default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: light-dark(#e8e8e8, #343843);
}
.card__poster--default > i {
  color: light-dark(#bcbcbc, #525867);
  font-size: 60px;
  transition: font-size 0.6s ease;
}
.card__poster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.6s ease;
}
.card__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

@media (max-width: 768px) {
  .card__poster {
    margin-bottom: 8px;
    height: 200px;
    border-radius: 6px;
  }
  .card__item-title {
    margin-bottom: 4px;
  }
}
.single-ellipsis {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multi-ellipsis {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}

.loading-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.loading .dot {
  width: 1rem;
  aspect-ratio: 1;
  background-color: light-dark(#5254fd, #5254fd);
  border-radius: 50%;
  z-index: 200;
}
.loading .dot:nth-child(1) {
  animation: loadingBubble 3s 0s infinite;
}
.loading .dot:nth-child(2) {
  animation: loadingBubble 3s 0.5s infinite;
}
.loading .dot:nth-child(3) {
  animation: loadingBubble 3s 1s infinite;
}
@media (max-width: 768px) {
  .loading {
    gap: 1.5rem;
  }
}

.loading__ele {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  margin: 3rem 0;
}
.loading__ele .dot {
  width: 1rem;
  aspect-ratio: 1;
  background-color: light-dark(#5254fd, #5254fd);
  border-radius: 50%;
  z-index: 200;
}
.loading__ele .dot:nth-child(1) {
  animation: loadingBubble 3s 0s infinite;
}
.loading__ele .dot:nth-child(2) {
  animation: loadingBubble 3s 0.5s infinite;
}
.loading__ele .dot:nth-child(3) {
  animation: loadingBubble 3s 1s infinite;
}
@media (max-width: 768px) {
  .loading__ele {
    gap: 1.5rem;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: light-dark(#fff, #232429);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.loading-overlay .dot {
  width: 1rem;
  aspect-ratio: 1;
  background-color: light-dark(#5254fd, #5254fd);
  border-radius: 50%;
  z-index: 200;
}
.loading-overlay .dot:nth-child(1) {
  animation: loadingBubble 3s 0s infinite;
}
.loading-overlay .dot:nth-child(2) {
  animation: loadingBubble 3s 0.5s infinite;
}
.loading-overlay .dot:nth-child(3) {
  animation: loadingBubble 3s 1s infinite;
}
@media (max-width: 768px) {
  .loading-overlay {
    gap: 1.5rem;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.modal.--active {
  opacity: 1;
  pointer-events: auto;
}
.modal-content {
  margin: 0 40px;
  max-width: 800px;
  width: 100%;
  background-color: light-dark(#fff, #232429);
  border-radius: 10px;
}
.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid light-dark(#dfdfdf, #3f424b);
}
.modal-head .close-button {
  cursor: pointer;
}
.modal-head .close-button > i {
  font-size: 24px;
}
.modal-head__title {
  font-size: 18px;
  font-weight: bold;
}
.modal-body {
  padding: 40px 30px 50px;
}
.modal-container {
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .modal-content {
    margin: 0 20px;
  }
  .modal-head {
    padding: 20px 30px;
  }
  .modal-body {
    padding: 30px 30px 40px;
  }
}
@media (max-width: 768px) {
  .modal-head {
    padding: 20px;
  }
  .modal-body {
    padding: 20px 20px 30px;
  }
}

.no-data {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  padding: 40px;
  width: 100%;
  border: 1px solid light-dark(#dfdfdf, #3f424b);
  border-radius: 20px;
}
.no-data .icon {
  font-size: 60px;
  font-weight: bold;
  color: light-dark(#333, #fbffff);
}
.no-data .title {
  font-size: 32px;
  font-weight: bold;
  color: light-dark(#333, #fbffff);
}
.no-data .description {
  font-size: 18px;
  font-weight: bold;
  color: light-dark(#70737a, #9fa1a6);
}
@media (max-width: 1024px) {
  .no-data {
    padding: 30px;
    border-radius: 10px;
  }
  .no-data .icon {
    font-size: 40px;
  }
  .no-data .title {
    font-size: 20px;
  }
  .no-data .description {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .no-data {
    padding: 20px 14px;
  }
}

.scroll::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-track {
  background: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  background: light-dark(#e8e8e8, #1c1d22);
  border-radius: 50px;
}
.scroll::-webkit-scrollbar-button {
  display: none;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
  z-index: -1;
}
@media (max-width: 768px) {
  .form {
    gap: 8px;
    padding: 16px;
  }
}
.form-field.warning .form-item {
  border-color: light-dark(#ff5e5e, #ff5e5e);
  box-shadow: 0 0 8px light-dark(#ff5e5e, #ff5e5e);
}
.form-field.warning .form-info {
  color: light-dark(#ff5e5e, #ff5e5e);
}
.form-item {
  display: flex;
  align-items: center;
  background-color: light-dark(#fff, #232429);
  border: 1px solid light-dark(#dfdfdf, #3f424b);
  border-radius: 4px;
}
.form-item:has(input:focus, select:focus) {
  border-color: light-dark(#5254fd, #5254fd);
  box-shadow: 0 0 8px light-dark(#5254fd, #5254fd);
}
.form-item.--large input,
.form-item.--large select {
  height: 50px;
}
.form-item input,
.form-item select {
  flex: 1;
  padding: 0 20px;
}
.form-item option {
  background-color: light-dark(#fff, #232429);
}
.form-item .btn-del {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.form-item .btn-del > i {
  color: light-dark(#a1a5b0, #a1a5b0);
}
@media (max-width: 768px) {
  .form-item input,
  .form-item select {
    padding: 0 14px;
  }
  .form-item.--large input,
  .form-item.--large select {
    height: 40px;
  }
}
.form-info {
  display: none;
  align-items: center;
  gap: 4px;
  margin-top: 6px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 30px;
  height: 50px;
  background-color: light-dark(#fefefe, #333742);
  border-radius: 4px;
  border: 1px solid light-dark(#dfdfdf, #3f424b);
}
@media (max-width: 768px) {
  .search-container {
    padding-left: 14px;
    height: 40px;
  }
}
.search-container .btn-delete {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}
.search-container .btn-delete > i {
  color: light-dark(#a1a5b0, #a1a5b0);
}
@media (max-width: 768px) {
  .search-container .btn-delete {
    padding: 0 14px;
  }
}
.search-label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.search-input {
  width: 100%;
}
.search-input::placeholder {
  color: light-dark(#a1a5b0, #a1a5b0);
}
.search-icon {
  color: light-dark(#a1a5b0, #a1a5b0);
}

.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .filter {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .filter .btn-primary {
    width: 100%;
  }
}
.filter-field {
  position: relative;
}
.filter-field.warning .filter-item {
  border-color: light-dark(#ff5e5e, #ff5e5e);
  box-shadow: 0 0 8px light-dark(#ff5e5e, #ff5e5e);
}
.filter-field.warning .filter-info {
  color: light-dark(#ff5e5e, #ff5e5e);
  font-size: 14px;
}
@media (max-width: 768px) {
  .filter-field {
    width: 100%;
  }
}
.filter-item {
  display: flex;
  align-items: center;
  height: 34px;
  color: light-dark(#a1a5b0, #a1a5b0);
  background-color: light-dark(#fefefe, #333742);
  border: 1px solid light-dark(#dfdfdf, #3f424b);
  border-radius: 4px;
}
.filter-item:has(input:focus, select:focus) {
  border-color: light-dark(#5254fd, #5254fd);
  box-shadow: 0 0 8px light-dark(#5254fd, #5254fd);
}
.filter-item input {
  flex: 1;
  padding: 0 20px;
}
.filter-item .btn-del {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  transition: opacity 0.3s ease;
  cursor: pointer;
  opacity: 0;
}
.filter-item .btn-del > i {
  color: light-dark(#a1a5b0, #a1a5b0);
}
.filter-info {
  position: absolute;
  display: none;
  align-items: center;
  gap: 4px;
  margin-top: 6px;
}
.filter-button {
  height: 34px;
}

#searchModal .modal-container {
  max-width: 500px;
}

/* 영화 목록 */
.movie__list {
  display: flex;
  flex-direction: column;
  background-color: light-dark(#fefefe, #333742);
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  height: 347.01px;
  border: 1px solid light-dark(#dfdfdf, #3f424b);
}
.movie__item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  cursor: pointer;
  border-bottom: 1px solid light-dark(#dfdfdf, #3f424b);
}
.movie__poster {
  width: 50px;
  min-width: 50px;
  height: 75px;
  border-radius: 4px;
  overflow: hidden;
}
.movie__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie__poster i {
  font-size: 3rem;
  text-align: center;
  line-height: 75px;
}
.movie__info {
  flex: 1;
  overflow: hidden;
}
.movie__info-title {
  margin-bottom: 4px;
}
.movie__info-details {
  display: flex;
  align-items: center;
  gap: 10px;
  color: light-dark(#70737a, #9fa1a6);
}
.movie__info-year {
  font-size: 14px;
}
.movie__info-runtime {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .movie__item {
    gap: 14px;
    padding: 14px;
  }
}
.section-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  height: 150px;
  font-size: 32px;
  font-weight: bold;
}
.section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, light-dark(#ff004d, #ff004d), light-dark(#1f2f98, #1f2f98));
  opacity: 0.13;
  border-radius: 20px;
  z-index: -1;
}
@media (max-width: 768px) {
  .section-title {
    margin-bottom: 20px;
    height: 80px;
    font-size: 20px;
  }
  .section-title::before {
    border-radius: 4px;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  cursor: pointer;
}

.select-container {
  position: relative;
  width: 100%;
}
.select-icon {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  font-size: 20px;
  pointer-events: none;
  color: light-dark(#a1a5b0, #a1a5b0);
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.footer {
  height: 80px;
  background-color: light-dark(#f8f8f8, #1c1d22);
  color: light-dark(#70737a, #9fa1a6);
}
.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .footer {
    height: 50px;
  }
  .footer-inner {
    font-size: 12px;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: light-dark(#fff, #232429);
  z-index: 1000;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

.logo {
  width: 137px;
  height: 26px;
  overflow: hidden;
}
.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gnb ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.utility {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}
.utility__button {
  width: 34px;
  height: 34px;
  border: 1px solid light-dark(#fff, #232429);
  border-radius: 8px;
  color: light-dark(#333, #fbffff);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.6s ease, border-color 0.6s ease, box-shadow 0.6s ease;
}
.utility__button:hover {
  border-color: light-dark(#5254fd, #5254fd);
  box-shadow: 0 0 8px light-dark(#5254fd, #5254fd);
  color: light-dark(#5254fd, #5254fd);
}
.utility__button > i {
  font-size: 20px;
}
.utility__button input[type=radio] {
  display: none;
}

@media (max-width: 1024px) {
  .header-inner {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 50px;
  }
  .header-inner {
    padding: 0 20px;
  }
  .logo {
    width: 100px;
    height: 18px;
  }
  .utility__button {
    width: 24px;
    height: 24px;
  }
  .utility__button > i {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .movie-detail__container {
    margin: 0 50px;
    width: auto;
    height: auto;
  }
}
@media (max-width: 768px) {
  .movie-detail__container {
    flex-direction: column;
  }
  .movie-detail__poster-container {
    margin: 0px auto;
    height: 500px;
  }
  .movie-detail__top {
    margin: 0 50px;
  }
  .movie-detail__storyline {
    margin: 0 50px;
  }
  .movie-detail__info-list {
    margin: 0px 50px;
  }
}
.movie-detail__container {
  display: flex;
  gap: 110px;
}
.movie-detail__poster {
  width: 100%;
  height: 520px;
  border-radius: 26px;
  overflow: hidden;
}
.movie-detail__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-detail__poster-container {
  max-width: 400px;
  width: 100%;
}
.movie-detail__top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.movie-detail__top .btn-back {
  padding-top: 16px;
}
.movie-detail__top .btn-back > i {
  font-size: 24px;
}
.movie-detail__title {
  margin-bottom: 48px;
  font-size: 40px;
  font-weight: bold;
}
.movie-detail__storyline {
  margin-bottom: 66px;
}
.movie-detail__storyline > h3 {
  margin-bottom: 22px;
  font-weight: bold;
}
.movie-detail__info-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.movie-detail__info-item {
  display: flex;
  align-items: center;
  gap: 68px;
}
.movie-detail__info-item > h4 {
  min-width: 94px;
}
.movie-detail__info-item > div {
  flex: 1;
}
.movie-detail__genre-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.movie-detail__genre-item {
  padding: 0 20px;
  height: 30px;
  line-height: 28px;
  border: 1px solid light-dark(#dfdfdf, #3f424b);
  border-radius: 15px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  min-height: calc(100vh - 200px);
}
.main-section-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-section-title > i {
  font-size: 18px;
}
.main-section-title .title {
  font-size: 54px;
  font-weight: bold;
  background-image: linear-gradient(to right, light-dark(#ff004d, #ff004d), light-dark(#1f2f98, #1f2f98));
  -webkit-background-clip: text;
  color: transparent;
  animation: titleMove 0.8s ease-out;
}
.main-section-title .subtitle {
  font-size: 28px;
  animation: subtitleMove 0.8s ease-out;
}

/* 스와이퍼 */
.swiper-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.swiper-slide {
  width: 16rem;
  height: 22rem;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}
.swiper-slide .favorite-button {
  opacity: 1;
  z-index: 10;
}

/* 영화 */
.movie-poster {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.movie-poster--default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: light-dark(#e8e8e8, #343843);
}
.movie-poster--default > i {
  color: light-dark(#bcbcbc, #525867);
  font-size: 100px;
}
.movie-poster img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1333333333), rgba(0, 0, 0, 0.2666666667));
}
.movie-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  color: light-dark(#fbffff, #fbffff);
}
.movie-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: lnline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.movie-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.movie-title {
  line-height: 1.2;
  font-size: 20px;
}
.movie-details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.movie-runtime, .movie-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}
.movie-content {
  line-height: 1.4;
}
.movie-btn-detail {
  padding: 10px;
  height: auto;
  font-size: 14px;
}

.btn-wrap:has(.movie-btn-detail) {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .main-section-title .title {
    font-size: 40px;
  }
  .main-section-title .subtitle {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .main-section {
    gap: 20px;
  }
  .main-section-title .title {
    font-size: 24px;
  }
  .main-section-title .subtitle {
    font-size: 18px;
  }
  /* 스와이퍼 */
  .swiper-slide {
    width: 12rem;
    height: 16rem;
    border-radius: 8px;
  }
  /* 영화 */
  .movie-container {
    padding: 10px;
  }
  .movie-info {
    gap: 0.5rem;
  }
  .movie-title {
    font-size: 16px;
  }
  .movie-details {
    gap: 10px;
  }
  .movie-runtime, .movie-rating {
    gap: 4px;
    font-size: 14px;
  }
  .movie-content {
    font-size: 14px;
  }
  .movie-btn-detail {
    height: 30px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
