@use "../base/reset" as *;
@use "../base/common" as *;
@use "../base/layout" as *;
@use "../base/variables" as *;
@use "../components/header.scss" as *;
@use "../components/footer.scss" as *;

.example-img {
  position: relative;
  width: 100px;
  height: 30px;
  border: 1px solid red;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../images/icon/logo.svg") no-repeat center / cover;
  }
}