@use '../pages/main' as *;

//검색결과페이지 컨텐츠 박스
main {
	padding-top: 120px;

	//검색결과 페이지 제목 박스
	h2 {
		width: 100%;
		height: 150px;
		border-radius: 20px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, var(--gradation-left-color), var(--gradation-right-color));
			opacity: 0.13;
		}
	}
}

// 검색결과 데이터 section
section {
	margin-top: 40px;
}

.notify {
	width: 1200px;
	height: 377px;
	border-radius: 20px;
	border: 1px solid var(--form-border-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	i.bx-data {
		font-size: 45px;
		color: var(--primary-text-color);
	}
	h3 {
		font-weight: bold;
		font-size: 32px;
		color: var(--primary-text-color);
	}
	p {
		font-size: 24px;
		font-weight: bold;
		color: var(--secondary-text-color);
	}
}

// 영화목록 ul
.result-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 40px 20px;
}

// 영화 목록 li
.result__item {
	position: relative;
}

// 검색결과 영화 카드
.result-card {
	display: grid;
	gap: 20px;
	position: relative;

	&:hover {
		.favorit {
			opacity: 1;
		}
	}
}

// 좋아요 아이콘
.favorit {
	opacity: 0;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 32px;
	height: 32px;
	border-radius: 8px;
	background-color: var(--favorite-bg-color);
	color: var(--favorite-icon-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

//영화포스터 박스 기본스타일
.card__thumbnail {
	width: 100%;
	height: 330px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;

	//대체이미지 아이콘
	.movie-poster--default {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--thumbnail-default-color);
		display: flex;
		justify-content: center;
		align-items: center;
		i {
			font-size: 45px;
			color: var(--thumbnail-icon-color);
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

//영화 정보 박스
.card__information {
	display: grid;
	gap: 10px;
}

// 영화제목
.card__title {
	font-size: 18px;
	line-height: 26px;
	color: var(--primary-text-color);
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
}

// 영화 개봉연도와 러닝타임
.card__sub-info {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	color: var(--secondary-text-color);
}

// 더보기버튼
.btn-more {
	display: block;
	width: 400px;
	height: 54px;
	border-radius: 10px;
	background-color: var(--primary-color);
	margin: 50px auto;
	font-size: 16px;
	color: #fff;

	&:hover {
		background-color: var(--primary-hover-color);
	}
}
