@use "../var" as *;
@use "../mixin//responsive" as *;

// 버튼 베이스
@mixin button-base(
  $bg-color: $primary-color,
  $hover-color: $primary-hover-color,
  $btn-padding: 0 1rem,
  $text-color: #fff,
  $border-radius: 4px
) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: $btn-padding;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: $text-color;
  background-color: $bg-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $hover-color;
  }

  &:disabled {
    background-color: #333;
    cursor: not-allowed;
    opacity: 0.65;
  }
}

// 버튼 사이즈
@mixin button-size($height: 34px, $width: 100%, $font-size: 1rem) {
  width: $width;
  height: $height;
  line-height: $height - 2;
  font-size: $font-size;
}

// 버튼 아이콘
@mixin button-icon($icon-size: 1.25rem, $icon-color: $primary-text-color) {
  & > i {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size;
    color: $icon-color;
  }
}

// 버튼 감싸기
@mixin btn-wrap($margin-top) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $margin-top;
}

// 좋아요 버튼
@mixin favorite-button(
  $size: sm,
  $is-rounded: false,
  $bg-color: $favorite-bg-color,
  $text-color: $favorite-active-text-color
) {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.6s ease, box-shadow 0.6s ease;
  border-radius: if($is-rounded, 30px, 50%);
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;

  // 활성화 상태
  &.--active {
    background-color: $favorite-active-color;
  }

  // 크기별 스타일
  @if $size == sm {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    aspect-ratio: 1 / 1;
    z-index: 1;
  } @else if $size == lg {
    gap: 10px;
    width: 100%;
    height: 54px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: $favorite-darken-bg-color;
  }

  @include respond-to(mobile) {
    @if $size == sm {
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
    } @else if $size == lg {
      height: 40px;
    }

    @if $size == lg {
      max-width: 350px;
    }
  }

  // Hover 상태
  &:hover {
    border-color: $favorite-icon-color;
    box-shadow: 0 0 8px $favorite-icon-color;

    & > i {
      animation: heart 0.6s linear infinite;
    }
  }

  // 아이콘 색상
  & > i {
    color: $favorite-icon-color;
  }
}
