@use "../var" as *;
@use "../mixin/responsive" as *;

@mixin no-data(
  $icon-size: 60px,
  $icon-color: $primary-text-color,
  $title-color: $primary-text-color,
  $description-color: $secondary-text-color,
  $border-color: $primary-border-color,
  $border-radius: 20px,
  $gap: 4px
) {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: $gap;
  padding: 100px 40px;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  .icon {
    font-size: $icon-size;
    font-weight: bold;
    color: $icon-color;
  }

  .title {
    font-size: 32px;
    font-weight: bold;
    color: $title-color;
  }

  .description {
    font-size: 18px;
    font-weight: bold;
    color: $description-color;
  }

  @include respond-to(tablet) {
    padding: 30px;
    border-radius: 10px;

    .icon {
      font-size: 40px;
    }

    .title {
      font-size: 20px;
    }

    .description {
      font-size: 14px;
    }
  }

  @include respond-to(mobile) {
    padding: 20px 14px;
  }
}
